<p>
  <b>Company:</b>
  <%= @customer.company %>
</p>

<p>
  <b>Address1:</b>
  <%= @customer.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @customer.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @customer.address3 %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @customer.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%= @customer.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @customer.phone2 %>
</p>

<p>
  <b>Fax1:</b>
  <%= @customer.fax1 %>
</p>

<p>
  <b>Fax2:</b>
  <%= @customer.fax2 %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Website:</b>
  <%= @customer.website %>
</p>

<%= link_to 'View PDF', customer_path(@customer, :format => :pdf) %> |
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<% if @customer.time_entries.size > 0 %>
  <br /><br /><br />
  <h2>Time Entries</h2>
  <table class='gt-list-table'>
    <tr>
      <th>Project</th>
      <th>Employee</th>
      <th>Duration</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @customer.time_entries.each do |time_entry| %>
    <tr>
      <td><%= link_to time_entry.project.name, time_entry.project %></td>
      <td><%= time_entry.employee.email %></td>
      <td><%= format_time time_entry.duration %></td>
      <td><%= time_entry.description %></td>
      <td><%= link_to 'Show', time_entry %></td>
      <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
      <td><%= link_to 'Destroy', time_entry, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <p>
    <b>Total time spent:</b>
    <%= format_time @customer.time_entries.sum(:duration) %>
  </p>
<% end %>