<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
      <% @time_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id, 'Employee' %><br />
    <%= f.select :employee_id, Employee.order('email').collect {|e| [ e.email, e.id ] } %>
  </div>
  <div class="field">
    <%= f.label :project_id, 'Project' %><br />
    <%= f.select :project_id, Project.order('name').collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <script type="text/javascript">
    $("#time_entry_start_time").AnyTime_picker(
        { format: "%Y-%m-%d %H:%i",
          hideInput: true,
          placement: "inline" } );
  </script>
  
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </div>
  <script type="text/javascript">
    $("#time_entry_end_time").AnyTime_picker(
        { format: "%Y-%m-%d %H:%i",
          hideInput: true,
          placement: "inline" } );
  </script>

  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
