<h1>Time Log</h1>

<%= render 'add' %>
<br />
<table class='gt-list-table'>
  <tr>
    <th>Project</th>
    <th>Employee</th>
    <th>Duration</th>
    <th>Completed At</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= link_to time_entry.project.customer.company, time_entry.project.customer %>  - <%= link_to time_entry.project.name, time_entry.project %></td>
    <td><%= time_entry.employee.email %></td>
    <td>
      <%= format_time time_entry.duration %>
      <%= render 'timer', :entry => time_entry %>
    </td>
    <td><%= time_entry.completed_at.try(:to_s, :long) %></td>
    <td><%= time_entry.description %></td>
    <td><%= link_to 'Show', time_entry %></td>
    <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
    <td><%= link_to 'Destroy', time_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time entry', new_time_entry_path %>
<br />
<%= link_to 'Export CSV', time_entries_path(:format => 'csv') %>
