<p>
  <b>Employee:</b>
  <%= @time_entry.employee.email %>
</p>

<p>
  <b>Customer:</b>
  <%= @time_entry.project.customer.company %>
</p>

<p>
  <b>Start Time:</b>
  <%= @time_entry.start_time %>
</p>

<p>
  <b>End Time:</b>
  <%= @time_entry.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= format_time @time_entry.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @time_entry.description %>
</p>


<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
